first.json
{
  "name": "first",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -16
      ],
      "id": "8abfa0e3-6fc3-48fe-91d1-8cec13c06b0d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -240,
        -160
      ],
      "id": "71734b29-5549-487c-8a3f-442c3205fb85",
      "name": "Wired"
    },
    {
      "parameters": {
        "url": "https://www.engadget.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -240,
        32
      ],
      "id": "8078f395-6287-4c4d-ba0b-b7f1abae13dc",
      "name": "Engadget"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        -64
      ],
      "id": "cebcaeb6-2a00-4d69-b799-4cd9798fd6f9",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06109051-6539-493c-8cf5-992e647fb560",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "4cf5e5cb-6418-4746-97f0-4423b3e6df03",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "1c688e18-218f-484b-ba2a-0206c2880329",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "db15c14f-c867-4e80-afd3-717965e1a6b5",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -64
      ],
      "id": "9b0443ba-956d-485d-9952-544bbf8d57c3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        432,
        -64
      ],
      "id": "08100dbb-ad54-4c88-ad85-9eb59c424c4c",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}\n{{ $json.content }}",
        "options": {
          "systemMessage": "Role: You are a specialized News Curator focusing exclusively on high-tech advancements.\n\nTask: Analyze the provided RSS feed entries.\n\nFilter: Only process articles that are primarily about Artificial Intelligence (LLMs, Machine Learning, Neural Networks, etc.) or Robotics (Humanoids, Industrial Automation, Drones, etc.).\nDiscard: If an article is not about AI or Robotics, ignore it entirely and do not include it in the output."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        -64
      ],
      "id": "9c1480e2-8a27-4694-84be-98d5e9dafad1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        496,
        144
      ],
      "id": "e0508b82-7416-42e5-baef-f825a37c5545",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "0M7ielqr791zYrwV",
          "name": "test"
        }
      }
    }
  ],
  "pinData": {
    "Limit": [
      {
        "json": {
          "title": "15 Best Electrolyte Powders (2026): Tasty and Effective",
          "content": "Get those lost minerals back with the help of our top picks.",
          "link": "https://www.wired.com/gallery/best-electrolyte-powders/",
          "pubDate": "Sun, 04 Jan 2026 12:31:00 +0000"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "title": "A New Bridge Links the Strange Math of Infinity to Computer Science",
          "content": "Descriptive set theorists study the niche mathematics of infinity. Now, they’ve shown that their problems can be rewritten in the concrete language of algorithms.",
          "link": "https://www.wired.com/story/a-new-bridge-links-the-strange-math-of-infinity-to-computer-science/",
          "pubDate": "Sun, 04 Jan 2026 12:00:00 +0000"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "title": "Protein Bars: Gluten-Free, Whole Foods, Fiber (2026)",
          "content": "What to prioritize, what to skip, when to enjoy—plus, we’ve selected WIRED's favorite bars worth trying.",
          "link": "https://www.wired.com/story/best-protein-bars/",
          "pubDate": "Sun, 04 Jan 2026 11:30:00 +0000"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "title": "8 WhatsApp Features to Boost Your Security and Privacy",
          "content": "Meta’s end-to-end encrypted messaging app is used by billions of people. Here’s how to make sure you’re one of the most locked-down ones out there.",
          "link": "https://www.wired.com/story/5-features-that-boost-security-and-privacy-on-whatsapp/",
          "pubDate": "Sun, 04 Jan 2026 11:00:00 +0000"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "title": "You’ve Got a Public Reddit Profile. Here’s How to Curate It",
          "content": "Make your profile page look good—and make sure you’re not sharing more than you want to.",
          "link": "https://www.wired.com/story/how-to-curate-your-public-reddit-profile/",
          "pubDate": "Sun, 04 Jan 2026 11:00:00 +0000"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "title": "Womanizer Coupons: Save 15% in December",
          "content": "Enjoy discounts on Duo Premium and more sex toys with our Womanizer coupon codes.",
          "link": "https://www.wired.com/story/womanizer-coupon/",
          "pubDate": "Sun, 04 Jan 2026 07:22:00 +0000"
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "title": "AirDoctor Coupon Codes: 40% Off | January 2026",
          "content": "Save up to $400 on top air purifiers and filters with verified AirDoctor promo codes and special offers for January 2026.",
          "link": "https://www.wired.com/story/airdoctor-coupon-code/",
          "pubDate": "Sun, 04 Jan 2026 07:14:00 +0000"
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "title": "Western Digital Promo Code: 10% Off",
          "content": "Get 10% off your first order at Western Digital when you register your email.",
          "link": "https://www.wired.com/story/western-digital-promo-code/",
          "pubDate": "Sun, 04 Jan 2026 07:13:00 +0000"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "title": "Hydrow Discount Code: Save Up to $150 | January 2026",
          "content": "Save on rowers and accessories with Hydrow coupons, including an exclusive discount of $50.",
          "link": "https://www.wired.com/story/hydrow-discount-code/",
          "pubDate": "Sun, 04 Jan 2026 06:50:00 +0000"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "title": "Hulu Promo Codes & Discounts: 20% Off January",
          "content": "Students can get a Hulu plan for $1.99 per month. Get more details on this and other great deals below.",
          "link": "https://www.wired.com/story/hulu-promo-code/",
          "pubDate": "Sun, 04 Jan 2026 06:18:00 +0000"
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "title": "eBay Coupon Codes and Deals: Up to 60% Off Select Items",
          "content": "Save up to 60% on a selection of items at eBay, including electronics, home products, card games, and more.",
          "link": "https://www.wired.com/story/ebay-coupon-code/",
          "pubDate": "Sun, 04 Jan 2026 06:12:00 +0000"
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "title": "Bose Promo Code: 40% Off Bose for January 2026",
          "content": "Enjoy at least 40% off headphones, speakers, soundbars, and other audio products from Bose.",
          "link": "https://www.wired.com/story/bose-coupon-code/",
          "pubDate": "Sun, 04 Jan 2026 06:00:00 +0000"
        },
        "pairedItem": {
          "item": 11
        }
      },
      {
        "json": {
          "title": "20% Off Sephora Promo Code | January 2026",
          "content": "Earn more points on skincare purchases when you use our Sephora coupon.",
          "link": "https://www.wired.com/story/sephora-promo-code/",
          "pubDate": "Sun, 04 Jan 2026 06:00:00 +0000"
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "title": "What Happens Next in Venezuela—and the Rest of Latin America?",
          "content": "Donald Trump says that Venezuela’s governance will remain in the hands of senior US officials until a “proper and judicious transition” can take place. The rest of the region is on notice.",
          "link": "https://www.wired.com/story/what-happens-next-in-venezuela-and-the-rest-of-latin-america/",
          "pubDate": "Sat, 03 Jan 2026 22:10:35 +0000"
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "title": "Disinformation Floods Social Media After Nicolás Maduro’s Capture",
          "content": "From seemingly AI-generated videos to repurposed old footage, TikTok, Instagram, and X did little to stop the onslaught of misleading posts in the wake of the US invasion of Venezuela.",
          "link": "https://www.wired.com/story/disinformation-floods-social-media-after-nicolas-maduros-capture/",
          "pubDate": "Sat, 03 Jan 2026 18:14:47 +0000"
        },
        "pairedItem": {
          "item": 14
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Wired",
            "type": "main",
            "index": 0
          },
          {
            "node": "Engadget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wired": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Engadget": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d4b92ef0-e6f9-428c-9a5e-c77d239caff9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38b6e92c16fcfe2a0ad5c7a604cf1a7c7d5fc8d067af452d0605f7129cc9d03d"
  },
  "id": "9LwhhCm5EiKJDrLz",
  "tags": []
}